# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/

# macOS
macos/Pods/

# Windows
windows/flutter/

# Linux
linux/flutter/

# IDE
.vscode/
.idea/

# Misc
*.log